<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to 'github.com/nipanga', 'https://github.com/nipanga', class: 'text-white' %></small>
  </div>
</footer>